.UserCard {
  background-color: #F3F3F3;
  border-radius: 8px;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.All-users {

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 17px;
  }

  &__description {
    margin-top: 10px;
    float: right;
  }
}
